<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ayu</title>
  </head>
  <body>
    <h1>Ayumi Hamasaki</h1>
    <iframe width="560" height="315" style="margin: 0px auto; display: block;" src="https://www.youtube.com/embed/7wQ6tzxBCfU" frameborder="0" allowfullscreen></iframe>

  </body>
</html>
