<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css"> -->

    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/01-style.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">Home Page of the singers</h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>! <br>

        <div class="columns">
          <div class="column c1">1</div>
          <div class="column c1">2</div>
          <div class="column c1">3</div>
          <div class="column c1">4</div>
          <div class="column c1">5</div>
        </div>


      </p>
    </div>
  </section>
  </body>
</html>
