<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ayumi</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Ayumi</h1>

  </body>
  <script src="/js/code.js" charset="utf-8"></script>
</html>
