
<% include ../parts/01-top %>

<% include ../parts/03-menu %>





<h1>Taeyang</h1>
<img class="bor1" src="../img/sing4.jpg" alt="Missing Picture">
<br><br>

<iframe class="bor1" width="554" height="309" src="https://www.youtube.com/embed/qIt6KCwlFPw" frameborder="0" allowfullscreen></iframe>


<% include ../parts/02-bottom %>
