<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ayu</title>
    <link rel="stylesheet" href="/css/01-style.css">
  </head>
  <body>
    <h1>Ayu Page M</h1>
    <p>singer</p>
  </body>
</html>
