
<% include ../partials/04-bt %>

<ul class="nav nav-pills menu1">
  <li role="presentation" class="pill-bg active"><a class="avex" href="#">Home</a></li>
  <li role="presentation" class="pill-bg"><a class="avex" href="#">Profile</a></li>
  <li role="presentation" class="pill-bg"><a class="avex" href="#">Messages</a></li>
</ul>

<h1>This is the contacts page</h1>
<p>Text of Call, also email works.</p>

<% include ../partials/05-bd2 %>
