<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Particles</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <ul class="nav nav-pills menu1">
      <li role="presentation" class="pill-bg active"><a class="avex" href="#">Home</a></li>
      <li role="presentation" class="pill-bg"><a class="avex" href="#">Profile</a></li>
      <li role="presentation" class="pill-bg"><a class="avex" href="#">Messages</a></li>
    </ul>

    <h1>Post Request</h1>


    <div class="">
      <% include ../partials/01-p-head %>
    </div>



  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/code.js"></script>
</html>
